<li class="portfolio-piece grid-dynamic mix  {{page.header.portfolio.filter}}">
	<div class="portfolio-piece-wrap theme-color-bg-secondary">
		<img src="{{page.header.img.src}}" alt="{{page.header.img.alt}}">
	</div>
				
	<div class="portfolio-piece-expansion">
		<div class="portfolio-piece-expansion-inner">
			<h3>{{page.header.title}}</h3>
			<figure>
				<img src="{{page.header.largeImg.src}}" alt="{{page.header.largeImg.alt}}">
				<figcaption>
					<p>{{page.header.portfolio.description}}</p>
					<a href="{{page.header.portfolio.link}}" target="_blank" class="button theme-color-bg-secondary">View Site <i class="fa fa-arrow-right"></i></a>
				</figcaption>
			</figure>
		</div>
	</div>
</li>