{% set taxlist = taxonomylist.get() %}

{% if taxlist %}
<div class="tags">
    {% for tax,value in taxlist[taxonomy] %}
        {% set active = uri.param(taxonomy) == tax ? 'active' : '' %}
        <a class="{{ active }} tag theme-color-bg-secondary" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}"><i class="fa fa-tag"></i>{{ tax }}</a>
    {% endfor %}
</div>
{% endif %}
